* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.body {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container > *,
.body > *{
    border: 1px solid red;
}

.header {
    grid-row: 1 / 4;
}